extends layout

block content
  header
    h1.heading_supersize  #{user.name}
    h2.welcome_text Meet, Talk, Collaborate on Web.
    div.row.display
      div.five.columns
      div.three.columns.centered
        h2
          a.large.button.round.flat-green(href="/room/create") Create Conference Call
      div.four.columns
    h4.text-center Conference call uses webRTC capabilities of browser. Requires Google Chrome 24+ or Firefox 23+

