extends layout

block content
  header
    h1.heading_supersize  EchoBase
    h2.welcome_text Meet, Talk, Collaborate on Web.

  section#features.section_light
    .row
        .four.columns
          h3
            span.dropcap_red.lsf-icon-dropcap(title='phone')
            | Call friends
          p
            | Call your friend from web browser. It works almost like Skype but you don't need to install Skype. Is it different that hangouts? well yeah we did this in 48hrs during node knockout.
        .four.columns
          h3
            span.dropcap_black.lsf-icon-dropcap(title='group')
            | Make conference
          p
            | Gypsie? No worries stay in touch with your all family member. Do you hack? stay call your remote team all together.
        .four.columns
          h3
            span.dropcap_black.lsf-icon-dropcap(title='video')
            | Video
          p
            | Did we say video? Yeah! it's covered. Make video calls from you browser. No waiting queues.

